#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}
.Container{
  position: fixed;
  top:0%;
  left:70%;
  transition:translate(-50%,-50%;);
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  width: 30%;
  height:100vh;
  padding: 20px;
}
h2{
  font-family:Source Sans Pro;
  font-weight:lighter;
  color:#fff;
  font-size:50px;
  text-align:center;
}
input{
  display:block;
  color:#fff;
  width:320px;
  height:50px;
  background:rgba(0,0,0,0.3);
  outline:none;
  border: 1px solid rgba(0,0,0,0.5);
  font-family:Source Sans Pro;
  font-size: 14px;
  font-weight:lighter;
  margin-bottom:10px;
  padding-left:10px;
  border-radius:5px;
}
